:root{
    --back: #222;
    --input-back: #111;
    --input-color: #333;
    --btn-back: #580371;
    --body-color: #ffffff;
    --switch: #fff;
}
.white{
    --back: #e9e4e4;
    --input-back: #fff;
    --input-color: #333;
    --btn-back: #33279b;
    --body-color: #ffffff;
    --switch: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body{
    background-color: var(--back);
    color: var(--body-color);
}
.head {
    text-align: center;
    text-transform: uppercase;
}
.head p{
    font-size: 20px;
}
input{
    margin: 5px 0;
    width: 100%;
    background-color: var(--input-back);
    padding: 10px;
    border-radius: 6px;
    color: var(--body-color);
}
input:hover{
    transform: scale(1.021);
}
.price{
    display: flex;
    gap: 5px;
    align-items: center;
}
#total{
    background-color: #a30d0d;
}
.bttn{
    margin: 5px 0;
    background-color: var(--btn-back);
    color: var(--body-color);
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    transition: 0.2s;
}
.inputs .bttn:hover{
    letter-spacing: 2px;
}
#total::before{
    content: 'Total:'
}
.outputs .bttn{
    width: 100%;
}
table{
    text-align: center;
}
body.white table{
    color : var(--input-color);
}
body.white .head{
    color: var(--input-color);
}
th,td{
    padding: 5px;
}
th{
    text-transform: uppercase;
}
td{
    text-transform: capitalize;
}
td.bttn{
    padding: 5px;
    width: 10% !important;
}
.deleteAll{
    display: none;
}
.deleteAll.active{
    display: block;
}

/**/
 .switch{
    font-size: 15px;
    font-weight: 700;
    color: var(--switch);
    text-transform: capitalize;
    position: absolute;
    right: 21px;
    top: 29px;
    align-items: center;
}
 .switch .bttn{
     background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    background-color: var(--Desa-urated-Blue);
    width: 50px;
    height: 25px;
    display: block;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
 .switch .bttn:hover{
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
 .switch span .togglebtn{
    position: absolute;
    content: "";
    width: 21.5px;
    height: 21.5px;
    background-color: var(--back);
    top: 1.8px;
    right: 2.2px;
    border-radius: 50%;
    z-index: 5;
 }
.rigth{
    left: 2.8px;
    right: 0;
}
.btnBack{
    color: var(--back);
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
@media (max-width: 576px){
.container-sm, .container {
    max-width: 595px !important;
}
}